*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    outline: none;
}
body{
    /* background-color: #0B0004; */
}
.container{
    height: auto;
    justify-content: start;
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}